.logo {
    height: 100px;
    width: 100px;
}

.nav_holder {
    background-color: #007bff;
}

.nav-item a {
    color: #ffff !important;
}

.nav-item a:hover {
    color: #ffc107 !important;
    font-size: 1.2rem;
}