/*--------------------------------------------------------------
# Stepper Styles
--------------------------------------------------------------*/
.MuiPaper-root{
    background-color: rgba(218, 205, 205, 0.6) !important;
}

.my_btn{
    margin-bottom: 40px;
    margin-top: 15px;
}

/*--------------------------------------------------------------
# Personal Info Styles
--------------------------------------------------------------*/
.personal_info_banner {
    background-color: rgba(0,0,0,0.6);
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
}
.personal_info_banner p{
    color: #fff;
}

/*--------------------------------------------------------------
# JAMB Info Styles
--------------------------------------------------------------*/
.jamb_info table{
    color: #fff;
}
.section_header{
    text-align:left;
    color:#85c226 !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*--------------------------------------------------------------
# Olevel Info Styles
--------------------------------------------------------------*/
.succ_notice{
    color:#ff0000 !important;
    background-color: #fff;
    border-radius: 5px;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width:510px){
    .step_header{
        overflow-x: scroll;
    }
}