.downloads_banner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-image: url('../../images/admin.png');
}

.download_candidates{
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 5px; 
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}